{% extends "DataDashboard/base.html" %}
{% block content %}{% load crispy_forms_tags %}


You are adding an intervention for:
    <ul>
    {% for student in students %}
    <li>{{ student.full_name }} ({{ student.tutor_group_id }})</li>

    {% endfor %}
     </ul>
    <form method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form | crispy }}
    <button type="submit" name="save" value="save">Save</button>
    <button type="submit" name="add_resource" value="add_resource">Save</button>

    </form>
{% endblock content %}