{% extends 'DataDashboard/base.html' %}
{% load crispy_forms_tags %}
{% block import_js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

{% endblock import_js %}
{% block content %}
    <div class="well">
  <form method="get">
    {{ filter.form | crispy}}
    <button type="submit">Search</button>
  </form>
    </div>

    <form method="post" action="{% url "DataDashboard:add_intervention" %}">
  {% csrf_token %}
     <input type="hidden" id="searchform" name="searchform" value="searchform">

  <table id="student_table">


      <thead>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Tutor Group</td>
            <td>House</td>
            <td>SEN Status</td>
            <td>EAL Status</td>
        </tr>
      </thead>
        <tbody>
        {% for student in filter.qs %}
            <tr>
                <td>
                    <div class="checkbox">
                    <label><input type="checkbox" name="student_id_{{ student.student_id }}" value="{{ student.student_id }}"></label>
                    </div>
                </td>
                <td>{{ student.full_name }}</td>
                <td>{{ student.tutor_group_id }}</td>
                <td>{{ student.house_id }}</td>
                <td>{{ student.SEN_status }}</td>
                <td>{{ student.EAL_status }}</td>
            </tr>
        {% endfor %}
        </tbody>

  </table>
    <button type="submit">Submit</button>
    </form>

{% endblock %}
{% block script %}

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script>$(document).ready( function () {
    $('#student_table').DataTable();
} );</script>
{% endblock script %}